.section {
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10rem 0;

    &__container {
        @include container;
        display: flex;
        align-items: center;
    }

    &__text-box {
        width: 50%;
    }

    &__img {
        width: 40%;
    }

    .comment {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .section {
        &__container {
            flex-direction: column;
        }

        &__img {
            order: 1;
            width: 100%;
        }

        &__text-box {
            order: 2;
            width: 100%;
            text-align: center;
        }

        .comment {
            margin: 2rem auto;
            text-align: left;
        }
    }
}
